* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1440px;
  height: 720px;
  border: 1px solid red;
  background-color: var(--off-white);
}