:root {
  /** Primary Colors **/
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);

  /** Neutral Colors **/
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);

  /** Font Sizes **/
  --input-fs: 32px;
}

/** Custom Font Families: **/
/* Normal 400, 400i */
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Italic";
  src: url(./assets/fonts/Poppins-Italic.ttf);
}

/* Bold 700, 700i */
@font-face {
  font-family: "Poppins Bold";
  src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins Bold Italic";
  src: url(./assets/fonts/Poppins-BoldItalic.ttf);
}

/* ExtraBold 800, 800i */
@font-face {
  font-family: "Poppins Extra-Bold";
  src: url(./assets/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: "Poppins Extra-Bold Italic";
  src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}